#root{
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 0 !important;
}
#formdiv{
    margin-left:40%;
    margin-right:35%;
    background-color: rgb(56, 56, 56,0.7);
    border-radius: 10px;
    color: white;
    border: none;
    position: absolute;
    top: 20%;
    width: 23%;
}
.loginpage-bg{
    background-image: url("loginpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 213vh;
    background-position: center;
    background-attachment: fixed;
    
    
}
.register-bg{
    background-image: url("loginpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 213vh;
    background-position: center;
    background-attachment: fixed;
    
}
.loginpage-bg::before{
    background: (0,0,0,0.2);
    margin-top: 0;
}
::placeholder{
    color: rgb(223, 223, 223);
}

.usernameinput{
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    outline:none;
    margin-bottom: 9%;
    margin-top: 5%;
    margin-left: 1%;
    color: white;
}

.passwordinput{
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    outline: none;
    margin-bottom: 8%;
    margin-left: 1%;
    color: white;
}

#login{
    background-color:blue;
    width: 90px;
    border: none;
    border-radius: 6px;
    margin-bottom: 5%;
    color: white;
}
#register{
    border: none;
    width: 90px;
    border-radius: 6px;
    margin-bottom: 6%;
}


.registerform{
    border: none;
    text-align: center;
    margin-left: 38%;
    margin-right: 35%;
    border-radius:10px ;
     background-color: rgb(56, 56, 56,0.7);
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 20%;
    width: 23%;

}
#title{
    padding-top: 2%;
    font-weight: 200;
}

#firstinput{
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background-color: transparent;
    width: 50%;
    color: white;

}

.registerform-label{
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
}
#registerbutton{
    margin-top: 9%;
    margin-bottom: 7%;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 80px;
}

.navbar-brand{
    border: none;
    border-radius: 50%;
    background-color:rgb(247, 195, 203) ;
    font-size: 70%;
    width: 70px;
    font-style: italic;
    text-align: center;
    padding-top: 8px;
    height:35px;
}

#navbar{
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #990099;
    padding: 25px;
}

.nav-link{
    margin-left: 50px;
    margin-top: 5px;
    color: whitesmoke;
    text-decoration-line: none;
}
.nav-link:focus{
    color: rgb(199, 198, 198) !important;
}
.nav-link:hover{
    color: rgb(201, 198, 198);
    opacity: 1;
}
 

#inputdiv{
    margin-left: 15%;
    height: 40px;
    /* width: 20%; */
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-top: 1px;
    outline: none;
}
#input::placeholder{
    color: gray;
}

#input{
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}

h5{
    font-size: 10px;
    margin-left: 29px;
    color: white;
}
.bi{
    padding-left: 25px;
    color: white;
}

.card{
    padding:0px !important;
    margin-right: 44px;
    position: relative;
    left: 90px;
    top: 15px;
}
.card:hover{
    transform: scale(1.02);
}

.card-img-top{
    height: 300px;
}
.card-body{
    padding-top: 0 !important;

}

.upcome-dis{
    font-size:40px;
    font-family:serif;
    border: 1px dashed; 
    width:550px;
    margin-left: 30%;
    margin-top: 110px;
    background-color:#000099;
    color: white;
    border-radius: 20px;
}

.d-block{
    height: 400px !important;
    width: 700px !important;
    margin-left: 24%;
    margin-top: 2%;
}

.offerdetials{
    height:40px;
    display: flex;
    flex-direction: row;
}

.btn-close{
    margin-top: 10px;
    margin-left: 80%;
    color: white !important;
}


#popupmsg{
    position: fixed;
    top: 70px;
    margin-left: 80%;
    border: none;
    background-color: rgb(56, 56, 56,0.7);
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    color: white;
    text-align: center;
}   

.loginbutton{
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 70px;
    color: white;
}   

#homepagecard{
    background: linear-gradient(180deg, #C7B9F9 0%, #9A8FF7 50%, #7A70E0 100%);

}